.sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0em 1em 0 1em;
    background-color: var(--branco);
}

.imagem__sobre {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.quem__somos {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    font-size: 28px;
    margin: 1em 0 1em 0;
}

.texto__sobre {
    font-family: var(--fonte-textos);
    font-size: 20px;
    line-height: 1em;
    margin: 1em;
}

.texto__negrito {
    padding: 1em;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .sobre__nos {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2em;
    }

    .imagem__sobre {
        width: 300px;
        height: 300px;
    }

    .texto__sobre {
        width: 50%;
    }

}